.h-100p {
  height: 100%;
}
.w-100p {
  height: 100%;
}

.ta-center {
  text-align: center !important ;
}

.of-hidden {
  overflow: hidden;
}

.theme-container {
  background: inherit;
}

.sidenav-content {
  width: 12rem;
  box-sizing: border-box;
}
